:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}

.button {
  color: #000;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-style: normal;
  transition: 0.3s;
  font-weight: 800;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 40px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background: #fff;
}

.button:hover {
  opacity: 0.7;
}

.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}

.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}

.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}

.list-item {
  display: list-item;
}

.teleport-show {
  display: flex !important;
  transform: translateX(0%) !important;
}

.slide-title {
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  transition: 0.3s;
  align-items: flex-start;
  font-weight: 500;
  border-color: transparent;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  border-bottom-width: 2px;
}

.slide-title:hover {
  opacity: 0.5;
}

.slide-title-active {
  border-color: #0000F5;
}

.banner {
  cursor: pointer;
  display: flex;
  max-width: auto;
  align-items: flex-start;
  border-width: 0px;
  flex-direction: row;
  background: linear-gradient(90deg, #dd743e, #5FBBC9, #3A67C6)
}

.banner-smaller {
  width: 620px;
  height: 460px;
}

.swiper-pagination {
  cursor: grab;
  z-index: 10;
  list-style: none;
  text-align: center;
}

.swiper-pagination-bullet {
  width: 12px;
  cursor: pointer;
  height: 12px;
  display: inline-block;
  transition: width .25s ease;
  border-radius: 12px;
  background-color: ef9911;
}

.swiper-pagination-bullet-active {
  width: 45px;
  opacity: 1 !important;
}

.objective {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 280px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.value {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}

.accordion {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: baseline;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #313133;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}

.accordion-content {
  color: #7C7C80;
  width: 100%;
  display: none;
  max-width: 560px;
  line-height: 24px;
}

.accordion-active {
  display: flex;
}



.blaze-track {
  cursor: grabbing;
}


.slider {
  -slides-to-show: 3;
}

.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

@font-face {
  font-family: 'Protomolecule';
  src: url('public/fonts/Protomolecule.ttf') format('truetype');
  /* You can replace 'path/to/' with the actual path to your font file */
}

.base-logo-text {
  font-family: 'Protomolecule', sans-serif;
  font-size: 35px;
  color: white;
  margin-left: -50%;
}

.logo-text {
  font-family: 'Protomolecule', sans-serif;
  font-size: 35px;
  color: white;
}

@media(max-width: 991px) {
  .banner {
    flex-direction: column;
  }

  .swiper-pagination-bullet {
    opacity: 0.5;
    background-color: #ffffff;
  }

  .objective {
    flex: 1;
  }

  .accordion {
    gap: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }

  .accordion-content {
    font-size: 14px;
    line-height: 21px;
  }
}

@media(max-width: 767px) {
  .objective {
    gap: var(--dl-space-space-unit);
    max-width: 100%;
  }

  .value {
    padding-top: 0px;
    padding-bottom: var(--dl-space-space-unit);
  }
}

@media(max-width: 479px) {
  .button {
    width: 100%;
  }
}



/* --------------------------- */

html {
  line-height: 1.15;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

p,
li,
ul,
pre,
div,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
figcaption {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focus,
[type="button"]:-moz-focus,
[type="reset"]:-moz-focus,
[type="submit"]:-moz-focus {
  outline: 1px dotted ButtonText;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input {
  padding: 2px 4px;
}

img {
  display: block;
}

html {
  scroll-behavior: smooth
}


/* ----------------------------- */

/* ------------------Navbar Base Page----------------- */

.base-hero {
  width: 100%;
  height: 10vh;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}



/* ---------------------------------------------- */
/* -------------Contact Us----------------------- */
.contact-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
}

.contact-form-dialog {
  background-color: rgba(31, 31, 31, 0.9);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}

.contact-form-heading {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Protomolecule', sans-serif;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-family: 'Protomolecule', sans-serif;
}

.contact-form textarea {
  height: 120px;
}

.contact-form-submit,
.contact-form-close {
  background-color: #5fbcc9;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form-submit {
  margin-right: 1rem;
}

.home-create {
  text-align: center;
  margin-bottom: 2rem;
}



/*  --------------------------------------  */


/* ------------------ Image Slider------------------ */

.container {
  position: relative;
  width: 100%;
  margin: 50px 0;
  .inner {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px 30px;
    background-color: #eee;
  }
}

.comparison-slider-wrapper {
  position: relative;
  width: 100%;
  margin: 20px 0;
  background-color: white;
  .comparison-slider {
    position: relative;
    width: 100%;
    margin: 0;
    border: 5px white solid;
    box-sizing: border-box;
    > img {
      width: 100%;
      height: auto;
      display: block;
    }
    .resize {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 50%;
      overflow: hidden;
      > img {
        display: block;
      }
    }
    .divider {
      position: absolute;
      width: 2px;
      height: 100%;
      background-color: rgba(256, 256, 256, 0.2);
      left: 50%;
      top: 0;
      bottom: 0;
      margin-left: -1px;
      cursor: ew-resize;
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        left: -9px;
        top: 50%;
        margin-top: -10px;
        background-color: white;
        transform: rotate(45deg);
        transition: all 0.1s ease-in-out;
      }
      &:before {
        width: 30px;
        height: 30px;
        left: -14px;
        margin-top: -15px;
      }
      &:after {
        width: 20px;
        height: 20px;
        left: -9px;
        margin-top: -10px;
        background-color: #555;
      }
      &.draggable {
        &:before {
          width: 30px;
          height: 30px;
          left: -14px;
          margin-top: -15px;
        }
        &:after {
          width: 20px;
          height: 20px;
          left: -9px;
          margin-top: -10px;
          background-color: #555;
        }
      }
    }
  }
}


/* -------------------------------------------------- */